{% extends 'base.html' %}

{% block content %}
    {{ block.description }}
    <table class="table table-hover">
        <thead></thead>
        <tbody>
            <tr>
                <th>Offset</th>
                <th>Length</th>
                <th>Name</th>
                <th>Content</th>
                <th>Description</th>
            </tr>
            {{% for field in blocks.fields %}}
            <tr>
                <td>{{field.offset}}</td>
                <td>{{field.length}}</td>
                <td>{{field.name}}</td>
                <td>{{field.content}}</td>
                <td>{{field.description}}</td>
            </tr>
            {{% endfor %}}
        </tbody>
    </table>
{% endblock %}